.page__advantages{

}

.header-block {
    text-align: center;
   
    letter-spacing: 0.2px;
   
}

.header-block__title{ 
   
    font-size: 40px;
    line-height:142%;  
    font-weight: 700;
    text-align: center;
}

.header-block__title:not(:last-child){
    margin: 0px 0px 10px 0px; 
}

.header-block__sub-title {
    color: #737373;
    line-height:142%;
}

@media (max-width: 992px){
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 767px){
    .header-block__title {
        font-size: 30px;
    }
}

.advantages{
    padding: 80px 0;
}

@media (min-width: 992px){
    .advantages{
        padding: 50px;
    }
}

@media (min-width: 767px){
    .advantages{
        padding: 40px;
    }
}
.advantages__container{

}

.advantages__header{
   margin: 0px 0px 50px 0px;
}

@media (max-width: 767px){
    .advantages__header{
        margin: 0px 0px 25px 0px;
    }
}

.advantages__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}

.advantages__column{
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}

@media (max-width:1020px){
    .advantages__column{
        flex: 0 1 50%;
    }
}

@media (max-width:560px){
    .advantages__column{
        flex: 0 1 100%;
    }
}


.advantages__item{
    background-color: #fff;
    padding: 30px;
    font-weight: 700;
    text-align:center;

}
.advantages__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.advantages__icon{
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* inside this block contains different size of icons, 
    to align them all we need to find the biggest  */
}

.advantages__value{
    font-size: 40px;
    line-height: 142%;
}

.advantages__text{
    font-weight: 700;
    color:#737373;
    font-size: 16px;
    line-height: 150%;
}
