.wrap__FrstBlock{
     /* position: relative;
     top: -22px;  */
     display: flex;
     height: 766px;
     width: 1600px;
     background-color: #E5E5E5;
 }
 
 .frstBlock {
     position:sticky; 
     top: 22px;      
     height: 744px;
     width: 1600px;
     background-image: url(../FrstBlock/bg-image.png);
     
 }
 .strOne{   
     position: absolute;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 64px;
     /* font-size: calc(64px * 1vw); */
     line-height: 75px;
     letter-spacing: 4.5px;     
     height: 75px;    
     left: calc(50% - 730px/2);
     top: calc(50% - 75px/2 - 104.5px);

     opacity: 0.9;

     color: #FFFFFF;
 }
 
 .strTwo{
    position: absolute;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;

    line-height: 140%;
    width: 504px;
    height: 50px;
    left: calc(50% - 504px/2);
    top: calc(50% - 50px/2 - 22px);
    
    font-style: normal;   
    
    opacity: 0.9;

    text-align: center;

    color: #FFFFFF;
 }
/*  -------------------  buttons  --------------------       */
 .getStarted{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 47px;
    
    position: absolute;
    width: 184px;
    height: 46px;
    left: calc(50% - 184px/2);
    top: calc(50% - 46px/2 + 56px);

    border:none;
    
    background: #00AFDB;

 }

 .textButton_1{
    position: absolute;
    width: 90px;
    height: 16px;
    left: calc(50% - 90px/2);
    top: calc(50% - 16px/2);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    white-space:nowrap;

    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
  
 }


 .getStarted:hover{
    background: #009CC2;
    cursor: pointer;
 }

 .about{
     display: flex;
     position: absolute;
     height: 20px;
     width: 38px;
     left: 31.375%;
     top: 38px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 140%;
     text-align: left;
     
     
     color: #FFFFFF; 

     opacity: 0.8;
 }

 .syllabus{
    display: flex;
    position: absolute;
    width: 53px;
    height: 20px;
    left: calc(50% - 53px/2 - 148.5px);
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    align-items: center;

    color: #FFFFFF;

    opacity: 0.8;   
 }

 .sphere{
    display: flex;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 48.6875%;
    top: 25px;
    
    background-image: url(../FrstBlock/Vector.svg);

 }

 .project{
    display: flex;
    position: absolute;
    width: 46px;
    height: 20px;
    left: calc(50% - 52px/2 + 148px);
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    align-items: center;

    color: #FFFFFF;

    opacity: 0.8;
    
 }

 .faq{
    display: flex;
    position: absolute;
    width: 26px;
    height: 20px;
    left: calc(50% - 26px/2 + 272px);
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.8;
 }

 .sphere:hover{
    cursor: pointer;
 }

 .about:hover,.syllabus:hover,.project:hover,.faq:hover{   
     
     border-bottom: 1px solid #FFFFFF;;
     font-weight: 500;
     opacity: 1;
     cursor: pointer;
 }

 .item_1{
   position: absolute;
   left: 44.6875%;
   bottom: 7%;
   height: 20px;
   width: 20px;
  
   background-image: url(../FrstBlock/Vector_1.svg);

   
 }
 .item_2{
   position: absolute;
   left: 47.8125%;
   bottom: 7%;
   height: 20px;
   width: 20px;
  
   background-image: url(../FrstBlock/Ellipse.svg);
}
.item_2_1{
   position: absolute;
   left: 35.29%;
   bottom: 27.8875%;
   height: 10px;
   width: 4.67px;
   
  
   background-image: url(../FrstBlock/Vector_3.svg);
}
.item_3{
   position: absolute;
   left: 50.9375%;
   bottom: 7%;
   height: 20px;
   width: 20px;
  
   background-image: url(../FrstBlock/Vector_4.svg);
    
}
.item_4{
   position: absolute;
   left: 54.0625%;
   bottom: 7%;
   height: 20px;
   width: 20px;
  
   background-image: url(../FrstBlock/Ellipse.svg);
    
}
.item_4_1{
   
position: absolute;
width: 10px;
height: 7.8px;
left: 24.375%;
bottom: 30.8875%;

background-image: url(../FrstBlock/Vector_5.svg);
}
.item_1:hover,.item_2:hover,.item_3:hover,.item_4:hover{
   cursor: pointer;
}
 @media all and (max-width:1200px){
    .strOne{
        color: #c51919;
        /* position: relative;
         font-family: 'Roboto', sans-serif;
         font-weight: 700;
         
         line-height: 75px;
         letter-spacing: 4.5px;     
         height: 75px;    
         left: 269.7px;
         top: 230px;
         color: #FFFFFF;
    
        font-size: 39.68px; */
    }
    .about{
        color: #c51919;
    }
    }
