
.header{ 
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
} 

.header__container{

    display: flex;
    min-height: 104px;
    align-items: center;
}


@media (max-width:320px) {
    .header__container {
       min-height: 80px;
    }  
}


.header__logo{
    font-size: 24px;
    font-weight:700;
    color:inherit;
}

.header__menu{
    margin: 0px 0px 0px 133px;
}

@media (max-width:992px) {
    .header__menu {
       margin: 0px 0px 0px 80px; 
    }  
}

@media (max-width:767px) {
    .header__menu {
        margin: 0px 0px 0px 40px; 
    }
}

@media (max-width:479px){
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

@media (max-width:320px){
    .header__menu{
        margin: 0px 0px 0px 15px;
    }
}
.menu{
    padding: 5px 0;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;   
}



.menu__item{
    margin: 0px 0px 0px 21px;
}

@media (min-width: 320px){
    .mobile{
        margin: 0px 0px 0px 7px;
    }

}

.menu__link{
    color:#737373;
    font-weight:600;
    line-height: 171%;
     /* 24/14*100 = 171 */
}

@media (max-width:479px){
    .menu__link{
        font-size: 18px;
    }
}
